/**
* ----------------------------------------------------------------------------------------------------
* MIXINS
* ----------------------------------------------------------------------------------------------------
*/

@custom-selector :--hoverous :hover, :active, :focus;

@mixin clearfix {
  &:before,
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

/**
* ----------------------------------------------------------------------------------------------------
* MAIN STYLES
* ----------------------------------------------------------------------------------------------------
*/
textarea {
  resize: none;
}

.d-b {
  display: block;
}

input.ng-invalid.ng-touched {
  border-color: #FA787E;
}
